includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app
    - database
    - config
    - resources
    - routes
    - tests

  # The level 9 is the highest level
  level: 5

  excludePaths:
    - vendor/*
    - app/Http/Controllers/Auth/*
    - routes/console.php

  ignoreErrors:
    - '/is not covariant with PHPDoc type/'
